* {
    font-family: Arial, sans-serif;
}

h1 {
    color: midnightblue;
    text-align: center;
}

::placeholder {
    font-style: italic;
}

.entradas-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10px;
}

input {
    border-radius: 5px;
}

button {
    border-radius: 5px;
    background-color:aqua;
}

footer {
    text-align: end;
}